h1{
    font-size: 110%
}


h2{
    color:aqua; 
    font-size:105%
}

#imgJGR{
    border-radius: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
}



<!p.nombreclase>

<!p.a{}>